git+https://github.com/kti/python-netfilterqueue
pyinotify
pycrypto
pyasn1
cryptography
Pillow
netaddr
scapy
dnslib
Twisted
lxml
pefile
ipy
user_agents
pyopenssl
service_identity
configobj
Flask
dnspython
beautifulsoup4
capstone
python-magic
msgpack-python
requests
pypcap
chardet
