git+git://github.com/kti/python-netfilterqueue
git+git://github.com/gorakhargosh/watchdog
pycrypto>=2.6
pyasn1>=0.1.7
cryptography
Pillow
netaddr
scapy
dnslib
Twisted
pefile
ipy
user_agents
pyopenssl
service_identity
configobj
Flask
dnspython
beautifulsoup4
capstone
python-magic
msgpack-python
requests
pypcap